html {
	font-family:courier;
	max-width:800px;
	margin: auto;
}

code {
	display: inline-block;
	background: lightgrey;
}

div.highlight {
	background: lightgrey;
	border: 1px solid grey;
}

em {
	color: green;
	text-shadow: green 0 0 2px;
}
