<!doctype html>
<html style="font-family:courier;max-width:800px;">

<head>
<title>{% block title %}{% endblock %}</title>
{% if autorefresh %}
<meta http-equiv="refresh" content="5">
{% endif %}
</head>

<body>
<h1><a href="/">TOPdesk Speed Coding Challenge</a></h1>
{% if not hideusername %}
{% if username is not none %}
<p>Playing as: {{username}}</p>
{% else %}
<p>No user set, <a href="/login">login here</a>.</p>
{% endif %}
{% endif %}
<article>
{% block content %}
{% endblock %}
</article>
</body>

</html>