{% extends "base.html" %}
{% block title %}Puzzle {{puzzle_number}}{% endblock %}

{% block content %}
{% markdown %}
{% include puzzle_description %}
{% endmarkdown %}

{% if current_user.is_authenticated %}
Get your puzzle input <b><a href="{{ '/puzzleinput/%s'%puzzle_number }}">here</a></b>

<form action = "{{ '/submitanswer/%s'%puzzle_number }}" method = "POST">
    <p><h3>Your answer:</h3></p>
    <p>
        <input type = 'text' name = 'answer_input'/>
        <input type = 'submit' value = 'Submit'/>
    </p>
 </form>

{% else %}
You must be logged in to get the puzzle input and submit answers
{% endif %}
{% endblock %}